#Azure Redis Cache
[azure_redis]
HOST = iot-test.redis.cache.windows.net
PORT = 6380
DB = 0
PASSWORD = KCXP3QUw2PnoB1fecCwzuen2xdZnYJ1yiXQgv0h71ng=
SSL = True

[event-hub]
CONNECTION_STR = Endpoint=sb://namescpace1.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=qX3F48EPEAlDjVgiYbhPlnsBeEEyoXOHK2LwOjijhq8=
EVENT_HUB_NAME = new_ev_hub

[mode]
MODE = event_hub
#MODE = cli